// assets/scss/_sidenav.scss

/* Sidenav Menu */
.app-menu {
    @apply sticky top-0 h-screen z-40 shadow transition-all duration-300;
    width: var(--tw-sidenav-width);
    min-width: var(--tw-sidenav-width);
    background: var(--tw-menu-bg);
  
    .scrollbar {
      height: calc(100% - var(--tw-topbar-height));
    }
  }
  
  /* Page Content */
  .page-content {
    @apply flex flex-col w-full min-h-screen;
  }
  
  /* Menu */
  .menu {
    @apply flex flex-col gap-2; /* Adjust as per your original gap size */
    padding: var(--tw-menu-item-gap) 0;
  
    > .menu-item {
      padding: 0 var(--tw-menu-item-padding-x);
    }
  
    .menu-item {
      .menu-link {
        @apply relative flex items-center transition-all whitespace-nowrap rounded-lg;
        color: var(--tw-menu-item-color);
        gap: var(--tw-menu-link-item-gap);
        padding: var(--tw-menu-link-padding-y) var(--tw-menu-link-padding-x);
  
        > .menu-icon {
          font-size: var(--tw-menu-item-icon-size);
          line-height: var(--tw-menu-item-icon-size);
          @apply transition-all;
  
          svg {
            width: var(--tw-menu-item-icon-size);
            height: var(--tw-menu-item-icon-size);
          }
        }
  
        > .menu-text {
          font-size: var(--tw-menu-item-font-size);
          line-height: var(--tw-menu-item-font-size);
          @apply whitespace-nowrap transition-all;
        }
  
        > .menu-arrow {
          font-size: var(--tw-menu-item-font-size);
          line-height: var(--tw-menu-item-font-size);
          @apply transition-all ms-auto rtl:rotate-180;
  
          &::before {
            content: "\ea6e"; /* Assuming you're using Remix icons */
            font-family: "remixicon";
          }
        }
  
        > .badge {
          @apply flex justify-center items-center py-px px-1.5 ms-auto font-semibold text-white text-center;
          font-size: calc(var(--tw-menu-item-font-size) * 0.75);
        }
  
        &:is(.open) {
          > .menu-arrow {
            transform: rotate(90deg);
          }
        }
  
        &:is(.open, .active) {
          @apply font-medium;
          color: var(--tw-menu-item-active-color);
        }
  
        &:is(:hover, :focus) {
          color: var(--tw-menu-item-hover-color);
        }
      }
    }
  }
  
  /* Sub Level Menu */
  .sub-menu {
    @apply w-full overflow-hidden transition-all duration-300;
    padding-inline-start: calc(var(--tw-menu-item-icon-size) + var(--tw-menu-link-item-gap));
  
    .sub-menu {
      padding-inline-start: var(--tw-menu-item-icon-size);
    }
  }
  
  /* Menu Title */
  .menu-title {
    @apply uppercase font-bold opacity-75 cursor-default tracking-wider;
    color: var(--tw-menu-item-color);
    font-size: calc(var(--tw-menu-item-font-size) * 0.75);
    padding: var(--tw-menu-link-padding-y) calc(var(--tw-menu-link-padding-x) + var(--tw-menu-item-padding-x));
  }
  
  /* Small Sidenav Width */
  html[data-sidenav-view="sm"] {
    .app-menu {
      width: var(--tw-sidenav-width-sm);
      min-width: var(--tw-sidenav-width-sm);
      min-height: var(--tw-sidenav-sm-height);
      height: unset;
      position: static;
  
      .simplebar-mask, .simplebar-content-wrapper {
        overflow: visible !important;
      }
  
      .logo-box {
        background: var(--tw-menu-bg);
  
        .logo-lg {
          display: none;
        }
  
        .logo-sm {
          display: flex;
        }
      }
  
      .menu {
        padding: var(--tw-menu-item-padding-x) 0;
  
        .menu-title {
          display: none;
        }
  
        .menu-item {
          position: relative;
  
          > .menu-link {
            transition: none;
  
            > .menu-text,
            > .menu-arrow,
            > .badge {
              transition: none;
              display: none;
            }
          }
  
          .sub-menu {
            display: none;
            height: inherit !important;
          }
  
          &:hover {
            > .sub-menu {
              display: block;
              inset-inline-start: 100%;
              overflow: visible;
              position: absolute;
              height: inherit !important;
              transition: none;
              padding-inline-start: 0;
              background: var(--tw-menu-bg);
              width: calc(var(--tw-sidenav-width) - var(--tw-sidenav-width-sm));
              @apply border border-solid border-gray-500/20;
  
              > .menu-item {
                > .menu-link {
                  z-index: 5;
  
                  > .menu-arrow,
                  > .menu-text {
                    display: block;
                  }
                }
  
                .sub-menu {
                  top: 0;
                }
              }
            }
          }
        }
  
        > .menu-item {
          > .menu-link {
            @apply flex text-center justify-center;
          }
  
          &:hover {
            > .menu-link {
              color: var(--tw-menu-item-hover-color);
            }
  
            > .menu-link {
              &::after {
                content: "";
                inset: 0;
                position: absolute;
                width: var(--tw-sidenav-width);
              }
  
              > .menu-text {
                background: var(--tw-menu-bg);
                line-height: var(--tw-menu-item-icon-size);
                width: calc(var(--tw-sidenav-width) - var(--tw-sidenav-width-sm));
                padding: var(--tw-menu-link-padding-y) var(--tw-menu-link-padding-x);
                inset-inline-start: calc(var(--tw-sidenav-width-sm) - var(--tw-menu-item-padding-x));
                @apply absolute flex items-center border border-solid border-gray-500/20;
              }
            }
          }
        }
      }
    }
  }
  
  /* Compact Menu (md width) */
  html[data-sidenav-view="md"] {
    .app-menu {
      width: var(--tw-sidenav-width-md);
      min-width: var(--tw-sidenav-width-md);
  
      .menu {
        .menu-title {
          @apply text-center underline decoration-dashed;
        }
  
        .menu-link {
          @apply flex-col text-center;
  
          .badge,
          .menu-arrow {
            @apply hidden;
          }
        }
  
        .sub-menu {
          @apply ps-0;
  
          .menu-link {
            .menu-arrow {
              @apply ms-0 block;
            }
          }
  
          .menu-text {
            @apply ps-0;
          }
        }
      }
    }
  }
  
  /* Hover and Small Hover for Sidenav */
  html[data-sidenav-view="hover"],
  html[data-sidenav-view="hover-active"] {
    .app-menu {
      position: fixed;
      bottom: 0;
      @apply transition-all ease-in-out;
  
      #button-hover-toggle {
        display: flex;
        @apply transition-all ease-in-out;
      }
  
      .simplebar-track.simplebar-horizontal {
        visibility: hidden !important;
      }
    }
  
    .app-header {
      #button-toggle-menu {
        @apply hidden;
      }
    }
  }
  
  /* Mobile Sidenav */
  html[data-sidenav-view="mobile"] {
    .app-menu {
      margin-inline-start: calc(var(--tw-sidenav-width) * -1);
      @apply fixed opacity-0;
    }
  
    &.sidenav-enable {
      .app-menu {
        margin-inline-start: 0;
        @apply opacity-100 z-50;
      }
    }
  }
  